@import 'variables';

.flight-details-form {
  .booking-reference {
    @media screen and (max-width: 576px) {
      margin-top: 2rem;
    }
  }

  .btn-add-flight {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    width: 100%;
  }

  .btn-ticket-number {
    text-decoration: underline;
  }

  .label-ac {
    font-size: 1rem;
    font-weight: 600;
    margin-left: 0.7rem;
    margin-top: 1.2rem;
    position: absolute;
  }
}

.modal-header {
  align-items: center;
  background-color: #2a2a2a;
  border-bottom: 1px solid rgb(45, 45, 46);
  color: $white;
  display: flex;
  font-size: 1.3125rem;
  height: 55px;
  line-height: 55px;
  padding-left: 15px;
  width: auto;

  .close {
    height: auto;
    width: auto;

    .icn-close {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background: transparent;
      border: none;
      color: $white;
      display: inline-block;
      height: 1rem;
      width: 1rem;
    }
  }
}
