<div class="container">
  <hr class="spacer-xxl" />
  <section class="bordered text-center">
    <svg role="presentation" class="icn error-icn" aria-labelledby="title">
      <title>{{ 'ICON_TITLE.WARNING' | translate }}</title>
      <use xlink:href="/assets/icons.svg#icn-error-warning"></use>
    </svg>
    <div class="text-div">
      <h1>{{ 'UNAVAILABLE.TITLE' | translate }}</h1>
      <!--TODO: implement maintenance mode page text-->
      <!--<p>{{ 'UNAVAILABLE.TEXT' | translate }}</p>-->
    </div>
  </section>
  <hr class="spacer-xxl" />
</div>
