@import 'variables';

.hero-banner {
  width: 100%;
  background-image: url(/assets/img/banner.jpg);
  background-size: cover;
  background-position: center;
  display: none;
  position: relative;

  &:before {
    content: '';
    padding-top: 16.67%;
    display: block;
    width: 100%;
    height: auto;
  }

  @include media-breakpoint-up(sm) {
    display: block;
  }
}

.intro {
  font-size: 1.125rem;
  margin: 2rem auto;

  @include media-breakpoint-up(md) {
    font-size: 1.3125rem;
  }
}
