<div class="c-pax-details-review">
  <p class="p-title">
    {{ 'SSET_V2.ASSESSMENT.REVIEW_CLAIM_PAGE.PASS_DETAILS' | translate }}
  </p>
  <ng-container *ngFor="let passenger of passengers; let i = index">
    <p class="p-detail p-detail--name">
      {{ passenger.title }} {{ passenger.firstName }} {{ passenger.lastName }}
    </p>
    <ng-template
      [ngIf]="passenger.isPrimaryApplicant || !passenger.isSameAddressContact"
    >
      <p class="p-detail">{{ passenger.addressStreet }}</p>
      <p class="p-detail">{{ passenger.city }}</p>
      <p class="p-detail">{{ passenger.zipCode }}</p>
      <p class="p-detail">{{ passenger.province }}</p>
      <p class="p-detail mb-3">{{ passenger.country }}</p>
      <p class="p-detail">{{ passenger.emailAddress }}</p>
      <p class="p-detail">{{ passenger.primaryPhoneNumber }}</p>
      <p class="p-detail mb-3">{{ passenger.mobilePhone }}</p>
      <ng-template [ngIf]="isManualFlow && passenger.freqFlyerNumber">
        <p class="p-detail-ff">
          {{
            'SSET_V2.ASSESSMENT.REVIEW_CLAIM_PAGE.FREQ_FLYER_INFO' | translate
          }}
        </p>
        <p class="p-detail">{{ passenger.freqFlyerNumber }}</p>
        <p class="p-detail">{{ passenger.aeroplanStatus }}</p>
      </ng-template>
    </ng-template>
    <div
      *ngIf="!passenger.isPrimaryApplicant && passenger.isSameAddressContact"
      class="custom-checkbox"
    >
      <input checked class="custom-control-input" disabled type="checkbox" />
      <label class="custom-control-label">
        {{
          'SSET_V2.ASSESSMENT.PASSENGER_DETAILS_FORM.USE_THE_SAME_ADDRESS_CONTACT'
            | translate
        }}
      </label>
    </div>
    <hr *ngIf="i !== passengers.length - 1" />
  </ng-container>
</div>
