$brand-red: #d8292f;
$brand-gray-100: #efefef;
$brand-gray-110: #f3f3f3;
$brand-gray-150: #f9f9f9;
$brand-gray-160: #f6f6f5;
$brand-gray-190: #e5e5e5;
$brand-gray-200: #e6e6e6;
$brand-gray-730: #737373;
$brand-gray-940: #949494;
$brand-gray-900: #2a2a2a;
$brand-teal: #00778f;
$ac-blue-100: #f1f7fb;
$ac-blue: #005078;
$ac-white: #ffffff;
$ac-black: #000;
