<div class="c-expenses-review">
  <p class="p-title">
    {{
      claimsLength > 1
        ? ('SSET_V2.ASSESSMENT.REVIEW_CLAIM_PAGE.EXPENSES_FOR_JOURNEY'
          | translate)
        : ('SSET_V2.ASSESSMENT.EXPENSES' | translate)
    }}
    <span *ngIf="claimsLength > 1">{{ index + 1 }}</span>
  </p>
  <div *ngFor="let expense of expenses; let i = index" class="c-expense">
    <p class="p-expense-type">
      {{ expense.expenseType }}
      <span class="icon-receipt">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            d="M20 21.9004V2H4V22L8.14815 20.0375L12 22L15.8519 20.0375L20 21.9004Z"
            stroke="#E6E6E6"
            stroke-width="1.5"
          />
          <path
            d="M7.19922 7.74219L13.5992 7.74219"
            stroke="#E6E6E6"
            stroke-width="1.5"
          />
          <path
            d="M7.19922 10.6133L16.7992 10.6133"
            stroke="#E6E6E6"
            stroke-width="1.5"
          />
          <path
            d="M7.19922 13.4883L15.1992 13.4883"
            stroke="#E6E6E6"
            stroke-width="1.5"
          />
        </svg>
      </span>
    </p>
    <ng-container *ngIf="[1, 4].includes(expense.expenseTypeId)">
      <p>
        {{
          countAccommodationNights(expense.checkInDate, expense.checkOutDate)
        }}
      </p>
      <div class="c-date-amount">
        <p>{{ expense.checkInDate }} - {{ expense.checkOutDate }}</p>
        <p class="p-amount">
          {{ expense.amount }}
          <span class="label-currency">{{ expense.currencyCode }}</span>
        </p>
      </div>
    </ng-container>
    <ng-container *ngIf="![1, 4].includes(expense.expenseTypeId)">
      <p *ngIf="[2, 5].includes(expense.expenseTypeId)">
        {{ expense.mealType }}
      </p>
      <p *ngIf="[3, 6].includes(expense.expenseTypeId)">
        {{ expense.transportationType }}
      </p>
      <div class="c-date-amount">
        <p>{{ expense.transactionDate }}</p>
        <p class="p-amount">
          {{ expense.amount }}
          <span class="label-currency">{{ expense.currencyCode }}</span>
        </p>
      </div>
    </ng-container>
    <hr *ngIf="i !== expenses.length - 1" />
  </div>
</div>
