@import 'variables';

.c-expenses-summary {
  color: $brand-gray-900;
  padding: 14px 0 24px 0;

  .c-expense {
    background: $brand-gray-150;
    font-size: 12px;
    padding: 16px;

    p {
      margin-bottom: 0;
    }

    .btn-edit-expense {
      cursor: pointer;
      flex-shrink: 0;
      float: right;
      height: 20px;
      width: 20px;
    }

    .c-date-amount {
      align-items: baseline;
      display: flex;
      justify-content: space-between;
      margin-top: -5px;

      .p-amount {
        font-size: 16px;

        .label-currency {
          font-size: 12px;
        }
      }
    }

    .c-expense-type {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 3px;
    }

    .icon-receipt {
      margin-left: 9px;
    }
  }

  .p-no-expenses {
    font-size: 12px;
  }

  .p-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
  }
}
